body {
  font-family: Arial;
  background: #f5f6f7;
}

header {
  background: #03c75a;
  color: white;
  padding: 15px;
}

main {
  background: white;
  margin: 20px;
  padding: 20px;
}

button {
  margin: 10px 0;
}

input, textarea {
  width: 100%;
  padding: 10px;
}

li {
  cursor: pointer;
  margin: 5px 0;
}
